@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset='utf-8' />
    <link href="~/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media='print' />
    <script src="~/fullcalendar/libCalendar/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/VINASIC/Timing/Timing_Index.js"></script>
    <style>
        #calendar1 {
            width: 90%;
            margin-top: 50px;
            margin-left: 70px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            @*<h3 style="background-color: #faf9f8" class="page-header">
                <img style="width: 200px" src="~/Files/logo.jpg" />
            </h3>*@
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/Timing/Index">Home</a></li>
                <li><i class="fa fa-laptop"></i>Lịch Chấm Công</li>
            </ol>
        </div>
    </div>
    <div id='calendar1'></div>

    <div class="modal fade" id="popupEventForm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span>Chấm Công</h4>
                </div>
                <div class="modal-body" style="padding: 40px 50px;">
                    <form id="EventForm" class="well">
                        <input type="hidden" id="eventID">
                        <div class="form-group">
                            <label for="Content"><span class="glyphicon glyphicon-qrcode"></span>Nội Dung</label>
                            <textarea rows="4" cols="50" class="form-control" id="eventTitle"></textarea>
                        </div>
                        <input type="hidden" id="eventDate">
                        <input type="hidden" id="eventTime">
                        <input type="hidden" id="eventDuration" value="15">
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnPopupCancel" cancel aria-hidden="true" data-dismiss="modal" class="btn">
                        <div class="button-image image-close"></div>
                        Đóng
                    </button>
                    <button id="btnPopupSave" save class="btn btn-primary">
                        <div class="button-image image-save"></div>
                        Lưu
                    </button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
