<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/VINASIC/ErrorPage/Error.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*boostrap references*@
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/customizebootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Boostrap/bootstrap.js"></script>


</head>
<body>
   
        @RenderBody()
   
</body>
</html>
