@{     
    
    Dynamic.Framework.Security.IUserService userInfo = Model;
    //notification = (List<string>)ViewData["UserNotification"];
}

<div style="display: none" id="ClientName">@ViewBag.ClientName</div>
<div style="display: none" id="ClientId">@ViewBag.ClientId</div>
<header class="header dark-bg">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
            <i class="icon_menu"></i>
        </div>
    </div>

    <!--logo start-->
    <a href="/Timing/Index" class="logo">QUẢN LÝ <span class="lite">CÔNG TY</span></a>
    <!--logo end-->

   @* <div class="nav search-row" id="top_menu">
        <!-- search form start -->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <!-- search form end -->
    </div>*@

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

            <!-- task notificatoin start -->
            <li id="task_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i><span class="icon-task-l"></span></i>
                    <span id="noteBar" class="badge bg-important">6</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">Trạng Thái Máy In</p>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">Máy Hiflex 1</div>
                                <div class="percent">90%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="sr-only">90% Complete (success)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">
                                    Máy Hiflex 2
                                </div>
                                <div class="percent">30%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                    <span class="sr-only">30% Complete (warning)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">Máy Ngoài Trời 1</div>
                                <div class="percent">80%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">Máy Ngoài Trời 2</div>
                                <div class="percent">78%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                    <span class="sr-only">78% Complete (danger)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">Máy Trong Nhà 1</div>
                                <div class="percent">50%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="task-info">
                                <div class="desc">Máy Trong Nhà 2</div>
                                <div class="percent">70%</div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>

                        </a>
                    </li>
                    @* <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>*@
                </ul>
            </li>
            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->
            <li id="mail_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-envelope-l"></i>
                    <span id="mailBar" class="badge bg-important">5</span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    @*<div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <a href="#">
                            <span class="photo">
                                <img alt="avatar" src="~/img/avatar-mini.jpg"></span>
                            <span class="subject">
                                <span class="from">Greg  Martin</span>
                                <span class="time">1 min</span>
                            </span>
                            <span class="message">I really like this admin panel.
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="photo">
                                <img alt="avatar" src="~/img/avatar-mini2.jpg"></span>
                            <span class="subject">
                                <span class="from">Bob   Mckenzie</span>
                                <span class="time">5 mins</span>
                            </span>
                            <span class="message">Hi, What is next project plan?
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="photo">
                                <img alt="avatar" src="~/img/avatar-mini3.jpg"></span>
                            <span class="subject">
                                <span class="from">Phillip   Park</span>
                                <span class="time">2 hrs</span>
                            </span>
                            <span class="message">I am like to buy this Admin Template.
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="photo">
                                <img alt="avatar" src="~/img/avatar-mini4.jpg"></span>
                            <span class="subject">
                                <span class="from">Ray   Munoz</span>
                                <span class="time">1 day</span>
                            </span>
                            <span class="message">Icon fonts are great.
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">See all messages</a>
                    </li>*@
                </ul>
            </li>
            <!-- inbox notificatoin end -->
            <!-- alert notification start-->
            <li id="alert_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <i class="icon-bell-l"></i>
                    <span id="bellBar" class="badge bg-important">7</span>
                </a>
                <ul id="EventsList1" class="dropdown-menu extended notification">                   
                        @if (ViewData["UserNotification"] != null)
                        {
                            foreach (var @item in (List<String>)ViewData["UserNotification"])
                            {
                               <li><a href="#"><span class="label label-primary"><i class="icon_profile"></i></span>  @item </a> </li>
                            }
                        }                
                </ul>
            </li>
            <!-- alert notification end-->
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    @*<span class="profile-ava">
                        <img src="~/img/avatar1_small.jpg" />
                    </span>*@
                    <span class="username">@userInfo.EmployeeName</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li class="eborder-top">
                        <a href="#"><i class="icon_mail_alt"></i>@userInfo.Email</a>
                    </li>
                    <li>
                        <a btn="userProfile" href="/UserProfile/Index"><i class="icon_profile"></i>Tài Khoản</a>
                    </li>
                    <li>
                        <a href="/Timing/Index"><i class="icon_clock_alt"></i>Lịch Chấm Công</a>
                    </li>
                    <li>
                        <a btn="Logout" href="#"><i class=" icon_lock_alt"></i>Đăng Xuất</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>
<div id="sound"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var notificationCount = document.getElementById("bellBar").innerHTML = $(".notification li").length;
        if (notificationCount > 0) {
            $("#bellBar").css({ "display": "inline" });
        }
       
        var myClientName = document.getElementById("ClientName").innerHTML;

        //Create SignalR object to get communicate with server
        var realTimeHub = $.connection.realTimeJTableDemoHub;


        //Define a function to get 'chat messages'
        //realTimeHub.client.GetMessage = function (clientName, message) {
        //    writeEvent('<b>' + clientName + '</b> : ' + message, 'event-message');

        //};
        realTimeHub.client.GetUpdateEvent = function (jtableName, user, message) {
            if (myClientName !== user) {
                if (jtableName != 'jtableOrder')
                {
                    $("#" + jtableName).jtable("load", { 'keyword': "" });
                    $("#" + jtableName).jtable("load", { 'keyword': "" });
                    $("#" + jtableName).jtable("load", { 'keyword': "" });
                }          
                writeEvent1('<b>' + user + '</b> : ' + message, 'event-message');
                document.getElementById("bellBar").innerHTML = $(".notification li").length;
                $("#bellBar").css({ "display": "inline" });
                playSound();
                var curentable = document.getElementById(jtableName);
                if (curentable !== null) {
                    realTimeHub.client.GetMessage = function (clientName, message) {
                        writeEvent('<b>' + clientName + '</b> : ' + message, 'event-message');

                    };
                }
            }
        };
        $("#alert_notificatoin_bar").click(function () {
            //$("#bellBar").css({ "display": "none" });
            //$.ajax({
            //    url: "/Shared/UpdateNotification",
            //    type: 'post',
            //    contentType: 'application/json',
            //    success: function (result) {
            //        toastr.warning("success");
            //    }
            //});
            // $('.tasks-bar li').length-1
            // $('.inbox li').length-2
            //$(".notification li").length - 1;
            //realTimeHub.server.sendMessage(myClientName, "hello");
        });
        $('#Message').keydown(function (e) {
            if (e.which === 13) { //Enter
                e.preventDefault();
                realTimeHub.server.sendMessage(myClientName, $('#Message').val());
                $('#Message').val('');
            }
        });
        // Start the connection with server
        $.connection.hub.start();
        //A function to write events to the page
        function writeEvent1(eventLog, logClass) {
            var now = new Date();
            var nowStr = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
            //$('#EventsList').prepend('<li><a href="#"><span class="label label-primary"><li class="icon_profile"></li></span>' + eventLog + '<span class="small italic pull-right">' + nowStr + '</span></a></li>');
            $('#EventsList1').prepend('<li><a href="#"><span class="label label-primary"><i class="icon_profile"></i></span> ' + eventLog +'-' + nowStr + ' </a> </li>');
        }
        function playSound() {
            document.getElementById("sound").innerHTML = '<audio autoplay="autoplay"><source src="/Sounds/NoteSound.mp3" type="audio/mpeg" /><source src="/Sounds/NoteSound.mp3" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="/Sounds/NoteSound.mp3" /></audio>';
        }
        function writeEvent(eventLog, logClass) {
            var now = new Date();
            var nowStr = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
            $('#EventsList').prepend('<li class="' + logClass + '"><b>' + nowStr + '</b>: ' + eventLog + '.</li>');
        }
    });

    $('[btn="Logout"]').click(function () {
        window.location.href = '/Authenticate/Logout';
    });
    $('[btn="userProfile"]').click(function () {
        window.location.href = '/UserProFile/Index';
    });
</script>

