@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/VINASIC/Employee/Print_Index.js?v=1.8"></script>
<div class="row">
    <div class="col-lg-12">
        @*<h3 style="background-color: #faf9f8" class="page-header">
            <img style="width: 200px" src="~/Files/logo.png" />
        </h3>*@
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/DashBoard/Index">Home</a></li>
            <li><i class="fa fa-laptop"></i>In Ấn</li>
        </ol>
    </div>
</div>
<div style="margin-bottom: 15px;" class="row">
    <div class="form-group">
        <div class="col-md-2 col-sm-4 col-xs-12">
            <label for="datefrom">Từ Ngày</label>
            <input type="date" class="form-control" name="datefrom" value="" id="datefrom" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <label for="dateto">Đến Ngày</label>
            <input type="date" class="form-control" name="dateto" value="" id="dateto" />
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <label for="cemployee1">Nhân Viên Kinh Doanh</label>
            <select id="cemployee1" class="form-control">
                <option value="0">Nhân Viên Kinh Doanh </option>
            </select>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <label for="keyword">Từ Khóa</label>
            <input type="text" class="form-control" id="keyword" placeholder="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <a id="search" style="margin-top: 25px" class="btn btn-primary" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_lightbulb_alt"></span>Tìm Kiếm</a>
        </div>
    </div>
</div>
<div id="jtablePrint"></div>
<!-- Modal -->
<div class="modal fade" id="popup_Print" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Chi Tiết</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <div class="form-group">
                        @*<label for="caddress">Mô Tả Công Việc</label>*@
                        @*<textarea name="" id="dDescription" class="form-control" cols="30" rows="8"></textarea>*@
                        <div id="view-content">
                        </div>
                    </div>
                    @*<input type="hidden" data-bind="value: Id" />
                        <div class="form-group">
                            <label for="Code"><span class="glyphicon glyphicon-qrcode"></span>Tên File</label>
                            <input type="text" data-bind="value: FileName" class="form-control" id="FName" placeholder="Tên File">
                        </div>
                        <div class="form-group">
                            <label for="Name"><span class="glyphicon glyphicon-list-alt"></span>Mô Tả</label>
                            <input type="text" data-bind="value: DesignDescription" class="form-control" id="FDescription" placeholder="Mô Tả">
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                @*<button save class="btn btn-primary">
                        <div class="button-image image-save"></div>
                        Lưu
                    </button>*@
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="popup_Print_Notification" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thông Báo Công Việc</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <h1 style="color:red">Bạn nhận được yêu cầu in mới.Vui lòng kiểm tra</h1>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                @*<button save class="btn btn-primary">
                        <div class="button-image image-save"></div>
                        Lưu
                    </button>*@
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        orderDetailStatusList = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderDetailStatus)));
        var statusDetailDropdown = "<ul class=\"dropdown-menu\">";
        for (var i = 0; i < orderDetailStatusList.length; i++) {
            var detail = "<li><a class=\"orderDetailstatus\" data-id=\"" + orderDetailStatusList[i].Value + "\" href=\"javascript:void(0)\">" + orderDetailStatusList[i].Name + "</a></li>";
            statusDetailDropdown = statusDetailDropdown + detail;
        }
        statusDetailDropdown = statusDetailDropdown + "</ul>";
        resultDetailStatusList = statusDetailDropdown;
});
</script>
