@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
@*<script src="~/Scripts/VINASIC/Dashboard/DashBoard_Index.js"></script>*@
<body>
    <!--overview start-->
    <div style="display: none" id="contentType">@ViewBag.Type</div>
    <div class="row">
        <div class="col-lg-12">
            <h3 style="background-color: #faf9f8" class="page-header">
                <img style="width: 200px" src="~/Files/logovinasic.png" />
            </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/DashBoard/Index">Home</a></li>
            </ol>
        </div>
    </div>
    <div style="margin-left:10px;margin-right:20px" id="view-content">
    </div>
</body>
<script>
    function initContent() {
        $.ajax({
            url: "/ContentPage/GetContent?code=" + @ViewBag.Type,
            type: 'post',
            contentType: 'application/json',
            success: function (result) {
                debugger;
                var content = result.Records.Content;
                $("#view-content").empty();
                $("#view-content").append(content);
            }
        });
    }
    initContent();

</script>
