/VINASIC.Business/bin
/VINASIC.Business/obj
/Dynamic.Framework/Dynamic.Framework/bin
/Dynamic.Framework/Dynamic.Framework/obj
/VINASIC/bin
/VINASIC/obj
/VINASIC.Business.Interface/bin
/VINASIC.Business.Interface/obj
/VINASIC.Data/bin
/VINASIC.Data/obj
/VINASIC.Object/bin
/VINASIC.Object/obj
