@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/VINASIC/Partner/Partner_Index.js"></script>
<div class="row">
    <div class="col-lg-12">
        @*<h3 style="background-color: #faf9f8" class="page-header">
            <img style="width: 200px" src="~/Files/logo.jpg" />
        </h3>*@
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/DashBoard/Index">Home</a></li>
            <li><i class="fa fa-laptop"></i>Nhà Cung Cấp</li>
        </ol>
    </div>
</div>
<div id="jtablePartner"></div>
<!-- Modal -->
<div class="modal fade" id="popup_Partner" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thêm/Sửa Loại Sản Phẩm</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" data-bind="value: Id"/>
                    <div class="form-group">
                        <label for="Name"><span class="glyphicon glyphicon-list-alt"></span>Tên Nhà Cung Cấp</label>
                        <input type="text" data-bind="value: Name" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Address"><span class="glyphicon glyphicon-comment"></span>Địa Chỉ</label>
                        <input type="text" data-bind="value: Address" class="form-control" id="Address" placeholder="Tên">
                    </div>
                    <div class="form-group">
                        <label for="Email"><span class="glyphicon glyphicon-list-alt"></span>Email</label>
                        <input type="text" data-bind="value: Email" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Mobile"><span class="glyphicon glyphicon-comment"></span>Số Đện Thoại</label>
                        <input type="text" data-bind="value: Mobile" class="form-control" id="Mobile" placeholder="Tên">
                    </div>
                    <div class="form-group">
                        <label for="TaxCode"><span class="glyphicon glyphicon-comment"></span>Mã Số Thuế</label>
                        <input type="text" data-bind="value: TaxCode" class="form-control" id="TaxCode" placeholder="Tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng</button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu</button>
            </div>
        </div>

    </div>
</div>
