@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Common.css" rel="stylesheet" />
<script src="~/Scripts/VINASIC/Order/Order_Index.js"></script>
<style>
    .alert {
        padding: 20px;
        background-color: #1e7dd0;
        color: white;
        position: fixed;
        bottom: 0px;
        right: 25px;
        left: 210px;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
        .button {
    border: none;
    color: #0c1ce6;
    font-weight:bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {background-color: #008CBA;} 

.button0 {background-color:#cef5da;} /* */
.button2 {background-color:#d2ec6a;} /* */
.button3 {background-color:#F5ECCE;} /* */ 
.button4 {background-color:#dacfcf ;} 
.button5 {background-color: #f5cece;} 
</style>
<div class="row">
    <div class="col-lg-12">
        <h3 style="background-color: #faf9f8" class="page-header">
            <img style="width: 200px" src="~/Files/logovinasic.png" />
        </h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Dashboard/index">Trang Chủ</a></li>
            <li><i class="icon_documents_alt"></i>Đơn Hàng</li>
            <li><i class="fa fa-user-md"></i>Quản Lý Đơn Hàng</li>
        </ol>
    </div>
</div>
<div style="display: none" id="defauEmployee">@ViewBag.Employee.Id</div>
<div style="display: none" id="defauOwner">@ViewBag.Employee.IsOwner</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                    <li id="ProcessOrder" class="active">
                        <a data-toggle="tab" href="#recent-activity">
                            <i class="icon-home"></i>
                            Xử Lý Đơn Hàng
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#ViewDetail">
                            <i class="icon-envelope"></i>
                            Xem Chi Tiết
                        </a>
                    </li>
                    <li id="CreateOrder" class="">
                        <a data-toggle="tab" href="#edit-profile">
                            <i class="icon-envelope"></i>
                            Tạo Mới/Chỉnh Sửa Đơn Hàng
                        </a>
                    </li>
                </ul>
            </header>
            <div style="border-style: none" class="panel-body pannel-order">
                <div class="tab-content">
                    <div id="recent-activity" class="tab-pane active">
                        <div style="margin-bottom: 15px;" class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="datefrom">Từ Ngày</label>
                                    <input type="date" class="form-control" name="datefrom" value="" id="datefrom" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="dateto">Đến Ngày</label>
                                    <input type="date" class="form-control" name="dateto" value="" id="dateto" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="cname">Nhân Viên Kinh Doanh</label>
                                    <select id="cemployee1" class="form-control">
                                        <option value="0">Nhân Viên Kinh Doanh </option>
                                    </select>
                                </div>
                                @*<div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="DeliveryType">Giao Hàng</label>
                                    <select id="DeliveryType" class="form-control">
                                        <option value="0">Tất Cả </option>
                                        <option value="1">Chưa Giao Hàng </option>
                                        <option value="2">Đã Giao Hàng </option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="PaymentStatus">Thanh Toán</label>
                                    <select id="PaymentStatus" class="form-control">
                                        <option value="0">Tất Cả</option>
                                        <option value="1">Đã Thanh Toán</option>
                                        <option value="2">Còn Nợ</option>
                                    </select>
                                </div>*@
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="keyword">Từ Khóa</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="">
                                </div>


                            </div>
                        </div>
                        <div style="margin-left: 5px;margin-bottom: 10px;" class="row">
                            <button id="search" class="btn button button1">Tìm Kiếm</button>
                            @*<a id="search" class="btn btn-primary" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_lightbulb_alt"></span>Tìm Kiếm</a>*@
                            <button id="inprogess" class="btn button button0">Đang Xử Lý</button>
                            <button id="noDelivery" class="btn button button2">Chưa Giao Hàng</button>
                            <button id="deliveried" class="btn button button3">Đã Giao Hàng</button>
                            <button id="paid" class="btn button button4">Đã Thanh Toán</button>
                            <button id="approval" class="btn button button5">Đã Duyệt Đơn</button>
                        </div>
                        <div class="=rows" id="jtableOrder"></div>
                        @*<div class="row" style="height: 100px">
                              <p>Tổng Tiền</p><span><input id="checkSum" type="text" value="0" /></span>
                            </div>*@

                        @*@*<div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                        </div>*@
                    </div>
                    <div id="ViewDetail" class="tab-pane">
                        @*<div style="margin-bottom: 15px;" class="row">
                            <div class="form-group">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="datefrom">Từ Ngày</label>
                                    <input type="date" class="form-control" name="datefrom" value="" id="vdatefrom" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="dateto">Đến Ngày</label>
                                    <input type="date" class="form-control" name="dateto" value="" id="vdateto" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="cname">Nhân Viên Kinh Doanh</label>
                                    <select id="cemployee2" class="form-control">
                                        <option value="0">Nhân Viên Kinh Doanh </option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <label for="keyword">Từ Khóa</label>
                                    <input type="text" class="form-control" id="vkeyword" placeholder="">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <a id="vsearch" style="margin-top: 25px" class="btn btn-primary" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_lightbulb_alt"></span>Tìm Kiếm</a>
                                </div>
                            </div>
                        </div>*@
                        <div id="jtableViewDetail"></div>
                    </div>

                    <div id="edit-profile" class="tab-pane">
                        <section class="panel">
                            <div class="panel-body bio-graph-info">
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Thông Tin Khách Hàng
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="cname">Nhân Viên Kinh Doanh</label>
                                                    <select id="cemployee" class="form-control input-lg m-bot15">
                                                        <option value="0">Nhân Viên Kinh Doanh </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cname">Tên Khách Hàng</label>
                                                    <input type="text" class="form-control" id="cname" placeholder="Nhập Tên Khách Hàng">
                                                </div>
                                                <div class="form-group">
                                                    <label for="cphone">Số Điện Thoại</label>
                                                    <input type="text" class="form-control" id="cphone" placeholder="" onkeypress=" return isNumberKey(event)">
                                                </div>
                                                <div class="form-group">
                                                    <label for="cmail">Email</label>
                                                    <input type="text" class="form-control" id="cmail" placeholder="">
                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Thông Tin Khách Hàng
                                        </header>
                                        <div class="panel-body">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="caddress">Địa Chỉ</label>
                                                    <textarea style="height: 110px" name="" id="caddress" class="form-control" cols="30" rows="5"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctaxcode">Mã Số Thuế</label>
                                                    <input type="text" class="form-control" id="ctaxcode" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ctaxcode">Ngày Giao hàng</label>
                                                    <input type="date" class="form-control" name="date" value="" id="date" />
                                                </div>
                                            </form>

                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading">
                                            Thông Tin Đơn Hàng
                                        </header>
                                        <div class="panel-body">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dproductType">Chọn Loại Dịch Vụ</label>
                                                    <select id="dproductType" class="form-control input-lg m-bot15"></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dproduct">Chọn Dịch Vụ</label>
                                                    <select id="dproduct" class="form-control input-lg m-bot15 detail">
                                                        <option value="0">Chọn Loại Dịch Vụ Trước</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="=rows">
                                                    <div class="col-lg-3 forPrint">
                                                        <label for="dwidth">CNgang(m)</label>
                                                        <input id="dwidth" type="text" pattern="[0-9]*" class="form-control detail caculator" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-lg-3 forPrint">
                                                        <label for="dheignt">CCao(m)</label>
                                                        <input id="dheignt" type="text" class="form-control detail caculator" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-lg-3 forPrint">
                                                        <label for="dsquare">DTích(m2)</label>
                                                        <input id="dsquare" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="dquantity">SLượng</label>
                                                        <input id="dquantity" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="=rows">
                                                    <div class="col-lg-4 forPrint">
                                                        <label for="dsumsquare">Tổng DT(m2)</label>
                                                        <input id="dsumsquare" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label for="dprice">Đơn Giá(vnd)</label>
                                                        <input id="dprice" type="text" class="form-control detail caculator caculatorTotal" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label for="dsubtotal">Thành Tiền(vnd)</label>
                                                        <input id="dsubtotal" type="text" class="form-control detail" placeholder="" onkeypress=" return isNumberKey(event) ">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-6 forPrint">
                                                <label for="dfilename">Tên File</label>
                                                <input id="dfilename" type="text" class="form-control detail" placeholder="">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="dnote">Ghi Chú</label>
                                                <input id="dnote" type="text" class="form-control detail" placeholder="">
                                            </div>
                                            <a id="resetDetail" style="margin-top: 20px; margin-bottom: 10px; margin-left: 10px" title="" class="btn btn-warning btn-sm" href="javascript:void(0)">Reset</a>
                                            <br />
                                            <div id="jtableOrderDetail"></div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h4>Tổng Tiền Hàng:</h4>
                                                </div>
                                                <input style="text-align: right; margin-top: 10px; margin-right: 12px; width: 500px; float: right" id="dtotal" type="text" class="form-control dsubtotal" placeholder="">
                                                <strong style="margin-top: 10px; width: 50px; float: right">VND</strong>
                                            </div>
                                            <a id="saveOrder" style="margin-left: 20px; margin-top: 20px" title="" class="btn btn-primary btn-sm" href="javascript:void(0)">Lưu Đơn Hàng</a>
                                            <a id="resetOrder" style="margin-top: 20px" title="" class="btn btn-warning btn-sm" href="javascript:void(0)">Reset</a>
                                            <a id="canelOrder" style="margin-top: 20px" title="" class="btn btn-danger btn-sm" href="javascript:void(0)">Hủy Bỏ</a>
                                        </div>
                                    </section>
                                </div>

                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="popup_DesignProcess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thiết Kế</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" />
                    <div class="form-group">
                        <label for="dDesignName">Nhân Viên</label>
                        <select id="dDesignName" class="form-control input-lg m-bot15">
                            <option value="0">Chọn Thiết Kế</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="caddress">Mô Tả</label>
                        <textarea name="" id="dDescription" class="form-control" cols="30" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dStatus">Trạng Thái</label>
                        <select disabled="disabled" id="dStatus" class="form-control input-lg m-bot15">
                            <option value="0">Không Xử Lý</option>
                            <option value="1">Đang Xử Lý</option>
                            <option value="2">Hoàn Thành</option>
                            <option value="3">Xử Lý Lỗi</option>
                        </select>
                    </div>
                    <label for="gTimeStart">Thời Gian Bắt Đầu</label>
                    <p class="form-control" id="dTimeStart">11/04/2015 11:29:30</p>

                    <label for="gTimeEnd">Thời Gian Kết Thúc</label>
                    <p class="form-control" id="dTimeEnd">11/04/2015 11:29:30</p>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu
                </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="popup_PrintProcess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>In Ấn</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" />
                    <div class="form-group">
                        <label for="product">Nhân Viên</label>
                        <select id="gPrintName" class="form-control input-lg m-bot15">
                            <option value="0">Chọn Nhân Viên In</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="caddress">Mô Tả</label>
                        <textarea name="" id="gDescription" class="form-control" cols="30" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="gStatus">Trạng Thái</label>
                        <select disabled="disabled" id="gStatus" class="form-control input-lg m-bot15">
                            <option value="0">Không Xử Lý</option>
                            <option value="1">Đang Xử Lý</option>
                            <option value="2">Hoàn Thành</option>
                            <option value="3">Xử Lý Lỗi</option>
                        </select>
                    </div>
                    <label for="gTimeStart">Thời Gian Bắt Đầu</label>
                    <p class="form-control" id="gTimeStart">11/04/2015 11:29:30</p>

                    <label for="gTimeEnd">Thời Gian Kết Thúc</label>
                    <p class="form-control" id="gTimeEnd">11/04/2015 11:29:30</p>

                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu
                </button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="popup_PaymentProcess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thanh Toán</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ptotal">Tổng Tiền(VND)</label>
                        <input disabled="disabled" type="text" class="form-control" id="ptotal" placeholder="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="phaspay">Đã Thanh Toán(VND)</label>
                        <input disabled="disabled" type="text" class="form-control" id="phaspay" placeholder="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="ppayment">Còn Nợ(VND)</label>
                        <input disabled="disabled" type="text" class="form-control" id="ppayment" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ppay">Tiền Khách Đưa(VND)</label>
                    <input type="text" class="form-control" id="ppay" placeholder="" onkeypress=" return isNumberKey(event) ">
                </div>
                <div class="form-group">
                    <label for="prealpay">Tiền Thu</label>
                    <input type="text" class="form-control" id="prealpay" placeholder="" onkeypress=" return isNumberKey(event) ">
                </div>
                <div class="form-group">
                    <label for="prest">Còn Lại(VND)</label>
                    <input type="text" class="form-control" id="prest" placeholder="" onkeypress=" return isNumberKey(event) ">
                </div>
                <div class="form-group">
                    <label for="prest">Loại Thanh Toán</label>
                    <select id="PaymentType" class="form-control">
                        <option value="1">Tiền Mặt</option>
                        <option value="2">Chuyển Khoản</option>
                        <option value="3">Công Nợ</option>
                        
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <input id="type2" type="checkbox">Phiếu thu loại bảng kê.
                <a print class="btn btn-danger" href="javascript:void(0)" title="Bootstrap 3 themes generator"><span class="icon_target"></span>In Phiếu Thu</a>
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu
                </button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="popup_HasPay" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Đã Thanh Toán</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="haspay">Đã Thanh Toán</label>
                        <input type="text" class="form-control" id="haspay" placeholder="" onkeypress=" return isNumberKey(event) ">
                    </div>
                    <div class="form-group">
                        <label for="prest">Loại Thanh Toán</label>
                        <select id="PaymentType1" class="form-control">
                            <option value="1">Tiền Mặt</option>
                            <option value="2">Chuyển Khoản</option>
                            <option value="3">Công Nợ</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu
                </button>
            </div>
        </div>

    </div>
</div>
<div style="width: 210mm; height: 148.5mm; color: red; display: none" id="paymentvoucher">
    <table style="margin-top: 20px; margin-left: 10px" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    Đơn vị: Công Ty VINASIC<br>
                    Bộ phận: Phòng Kế Toán
                </td>
                <td>
                    <strong style="font-size: 20px;">PHIẾU THU</strong><br>
                    <em><span style="margin-left: 16px;" id="vdate1">Ngày 11 tháng 05 năm 2016</span> </em>
                </td>
                <td style="float: right; font-size: 10px;margin-right:100px">
                    <strong>Mẫu số: 01 – TT</strong><br>
                    (Ban hành theo QĐ số: 48/2006/QĐ- BTC<br>
                    Ngày 14/9/2006 của Bộ trưởng BTC)
                </td>
            </tr>
        </tbody>
    </table>
    <table style="margin-left: 10px" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="float: right; width: 170px; font-size: 10px;margin-right:100px">
                    Quyển số: PT 001<br>
                    Số:<span id="no">01</span><br>
                    Nợ: …………………….<br>
                    Có: …………………….
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left: 10px">
        Họ và tên người nôp tiền:&nbsp <span id="vcustomer"> Trần Quốc Bảo</span>.&nbsp SĐT:&nbsp<span id="vphone">0962 57 52 55</span><br>
        Địa chỉ: <span id="vaddress">56/5/6 Văn Chung ,phường 13, quận Tân Bình</span>.<br>
        Lý do nộp: <span id="vproduct">In PP trong nhà</span>.<br>
        Số tiền: <span id="vtotal">5,000,000 vnd</span> .(Viết bằng chữ): <span id="strtotal">một trăm hai mươi lăm ngàn đồng chẵn</span>.<br>
        Kèm theo: ……………………….Chứng từ gốc.
    </p>
    <div><em><span style="float:right;margin-right:270px" id="vdate2">Ngày 11 tháng 05 năm 2016</span></em></div>
    <table style="margin-left: 10px" width="85%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <strong>&nbsp; &nbsp; &nbsp;&nbsp;Giám đốc</strong><br>
                    (Ký, họ tên, đóng dấu)
                </td>
                <td>
                    <strong>Kế toán trưởng</strong><br>
                    &nbsp;&nbsp;&nbsp;(Ký, họ tên)
                </td>
                <td>
                    <strong>Người nộp tiền</strong><br>
                    &nbsp;&nbsp;(Ký, họ tên)
                </td>
                <td>
                    <strong>Người lập phiếu</strong><br>
                    &nbsp;&nbsp;&nbsp;(Ký, họ tên)
                </td>
                <td>
                    <strong>&nbsp;&nbsp;Thủ quỹ</strong><br>
                    (Ký, họ tên)
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="margin-left: 10px">
        Đã nhận đủ số tiền (viết bằng chữ): ……………………………………………………………………..<br>
        + Tỷ giá ngoại tệ (vàng, bạc, đá quý): …………………………………………………………………..<br>
        + Số tiền quy đổi: ………………………………………………………………………………………
    </p>
</div>
<div style="width: 210mm; height: 148.5mm; color: red; display: none" id="paymentvoucher1">
    <div class="Block1" style="width:68%;float:left;margin-left:10px">
        <p style="margin-bottom:0px">CÔNG TY TNHH DỊCH VỤ VĂN HÓA THÔNG TIN VIỆT NAM</p>
        <p style="margin-bottom:0px;margin-top: 0px;font-size:smaller">
            Địa chỉ văn phòng: 118/15 Bàu Cát 2, Phường 12, Quận Tân Bình, Tp.HCM<br>
            Di động: 091.346.1539 - 090.269.7586 - 090.932.1586
        </p>
    </div>
    <div class="Block2" style="width:30%;float:left;">
        <p style="margin-bottom:0px;font-size:smaller">
            Quyển số: PT 001<br>
            Số:<span id="no1">01</span><br>
            <em><span id="vdate3">Ngày:11/05/2016</span> </em>
        </p>
    </div>
    <div>
        <h2 style="width:85%;float:left;text-align: center;margin-top: 5px;margin-left:10px;margin-bottom:5px">PHIẾU THU</h2>
    </div>
    <div class="Block3" style="width:100%;float:left;margin-left:10px">
        <p style="margin-top:0px;margin-bottom:4px">
            Họ và tên người nôp tiền: &nbsp; <span id="vcustomer1"> Trần Quốc Bảo</span><br>
            Địa chỉ: <span id="vaddress1">56/5/6 Văn Chung ,phường 13, quận Tân Bình</span>.<br>
            Số đt: <span id="vphone1">0909242096</span>
        </p>
    </div>
    <div class="Block4" id="Block4" style="width:86%;float:left;margin-left:10px">
        <table id="renderTable" border="1" style="width:100%" cellspacing="0" cellpadding="0">
            <tr>
                <th>Dịch Vụ</th>
                <th>Ghi Chú</th>
                <th>CDài</th>
                <th>CRộng</th>
                <th>SLượng</th>
                <th>Đơn Giá</th>
                <th>Thành Tiền</th>
            </tr>
            <tr>
                <td>Chân X cường lực 80 x 180</td>
                <td>cán bóng đóng khoen 4 góc</td>
                <td>0.55</td>
                <td>0.72</td>
                <td>5</td>
                <td>20,0000</td>
                <td>120,000</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
            </tr>
            <tr>
                <td colspan="6">Tổng Tiền</td>
                <td><span id="vtotal1">55577854</span></td>
            </tr>
            <tr>
                <td colspan="7">Bằng Chữ:<span id="strtotal1"> Một triệu năm trăm bảy mươi lăm ngàn bốn trăm lẻ sáu đồng</span></td>
            </tr>
        </table>
    </div>
    <div class="Block5" style="width:90%;float:left;margin-top:10px;margin-left:10px">
        <table style="width:100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <strong>&nbsp; &nbsp; &nbsp;&nbsp;Giám đốc</strong><br>
                        (Ký, họ tên, đóng dấu)
                    </td>
                    <td>
                        <strong>Kế toán trưởng</strong><br>
                        &nbsp;&nbsp;&nbsp;(Ký, họ tên)
                    </td>
                    <td>
                        <strong>Người nộp tiền</strong><br>
                        &nbsp;&nbsp;(Ký, họ tên)
                    </td>
                    <td>
                        <strong>Người lập phiếu</strong><br>
                        &nbsp;&nbsp;&nbsp;(Ký, họ tên)
                    </td>
                    <td>
                        <strong>&nbsp;&nbsp;Thủ quỹ</strong><br>
                        (Ký, họ tên)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- page end-->
