@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr {
        margin-top: 0px;
        border: 0;
        border-top: 5px solid #fed189;
    }

    div.jtable-main-container > table.jtable > tbody > tr.jtable-data-row > td {
        padding: 0px;
    }
</style>
<script src="~/Scripts/VINASIC/Permission/Permission_Index.js"></script>
<div class="row">
    <div class="col-lg-12">
        @*<h3 style="background-color: #faf9f8" class="page-header">
            <img style="width: 200px" src="~/Files/logo.png" />
        </h3>*@
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Order/Index">Home</a></li>
            <li><i class="fa fa-laptop"></i>Loại Dịch Vụ</li>
        </ol>
    </div>
</div>
<div id="jtablePermission"></div>
<!-- Modal -->
<div class="modal fade" id="popup_Permission" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>Thêm/Sửa Quyền</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form">
                    <input type="hidden" data-bind="value: Id" />
                    <input type="hidden" data-bind="value: FeatureId" />
                    <div class="form-group">
                        <label for="Code"><span class="glyphicon glyphicon-qrcode"></span>Tên Chức Năng</label>
                        <input disabled="disabled" type="text" data-bind="value: AlterFeatureName" class="form-control" id="Code" placeholder="Tên Chức Năng">
                    </div>
                    <div class="form-group">
                        <label for="Name"><span class="glyphicon glyphicon-list-alt"></span>Tên Quyền</label>
                        <input type="text" data-bind="value: PermissionName" class="form-control" id="Name" placeholder="Tên Quyền">
                    </div>
                    <div class="form-group">
                        <label for="Description"><span class="glyphicon glyphicon-comment"></span>Mô Tả</label>
                        <input type="text" data-bind="value: Description" class="form-control" id="Description" placeholder="Mô Tả">
                    </div>
                    <div class="form-group">
                        <label for="Description"><span class="glyphicon glyphicon-comment"></span>Đường Dẫn</label>
                        <input type="text" data-bind="value: Url" class="form-control" id="Url" placeholder="Đường Dẫn">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button id="savePermission" save class="btn btn-primary">
                    <div class="button-image image-save"></div>
                    Lưu
                </button>
            </div>
        </div>

    </div>
</div>
