@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/VINASIC/ProductType/ProductType_Index.js"></script>
<div id="jtableProductType"></div>
<div class="modal hide fade modalsmall" id="popup_ProductType" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <button cancel aria-hidden="true" data-dismiss="modal" class="close" type="button">
            ×</button>
        <h4>Loại Sản Phẩm</h4>
    </div>
    <div class="modal-body form-inline">
        <div class="container-fluid">
            <div class="rows">
                <input type="hidden" data-bind="value: Id" />
                <div class="col-left">
                    <label>Mã Loại:</label><input id="Code" data-bind="value: Code" type="text" />
                </div>
                <div class="col-left">
                    <label>Tên Loại:</label><input id="Name" required="required" data-bind="value: Name" type="text" />
                </div>
                <div class="col-left">
                    <label>Mô Tả:</label><input id="Description" required="required" data-bind="value: Description" type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button cancel aria-hidden="true" data-dismiss="modal" class="btn">
            <div class="button-image image-close"></div>
            Đóng</button>
        <button save class="btn btn-primary">
            <div class="button-image image-save"></div>
            Lưu</button>

    </div>
</div>
