@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/VINASIC/Dashboard/DashBoard_Index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<body>
    <!--overview start-->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/DashBoard/Index">Home</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i></i><strong>Chọn Ngày Tháng Năm</strong></h2>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <label for="datefrom">Từ Ngày</label>
                            <input type="date" class="form-control" name="datefrom" value="" id="datefrom" />
                        </div> 
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <label for="dateto">Đến Ngày</label>
                            <input type="date" class="form-control" name="dateto" value="" id="dateto" />
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <button search style="margin-top:25px" id="search" class="btn button button1">OK</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <!-- Line -->
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    Tổng Thu
                </header>
                <div class="panel-body text-center">
                    <canvas id="countries" width="450" height="300"></canvas>
                </div>
            </section>
        </div>

        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    Tổng Chi
                </header>
                <div class="panel-body text-center">
                    <canvas id="countries1" width="450" height="300"></canvas>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i></i><strong>Tổng Thu Chi</strong></h2>
                </div>
                <div class="panel-body">
                    <canvas id="income" width="1200" height="500"></canvas>
                </div>

            </div>
        </div>
    </div>
</body>
